In [1]:
import pandas as pd

In [2]:
#Q1
#create the dataframe 
data = {
    ('Sales', 'Online'): [1000, 1200, 1300, 1100, 1400, 1500, 1600, 1700],
    ('Sales', 'In-Store'): [800, 900, 950, 870, 930, 920, 980, 970],
    ('Expenses', 'Online'): [500, 600, 700, 550, 650, 680, 720, 750],
    ('Expenses', 'In-Store'): [300, 400, 450, 370, 430, 420, 480, 470]
}
quarters = ['Q1 2021', 'Q2 2021', 'Q3 2021', 'Q4 2021', 'Q1 2022', 'Q2 2022', 'Q3 2022', 'Q4 2022']
financial_data = pd.DataFrame(data, index=quarters)

In [5]:
quarters

['Q1 2021',
 'Q2 2021',
 'Q3 2021',
 'Q4 2021',
 'Q1 2022',
 'Q2 2022',
 'Q3 2022',
 'Q4 2022']

In [6]:
financial_data

         Sales          Expenses
        Online In-Store   Online In-Store
Q1 2021   1000      800      500      300
Q2 2021   1200      900      600      400
Q3 2021   1300      950      700      450
Q4 2021   1100      870      550      370
Q1 2022   1400      930      650      430
Q2 2022   1500      920      680      420
Q3 2022   1600      980      720      480
Q4 2022   1700      970      750      470

In [7]:
# a) Online sales for Q1 2022
online_sales_q1_2022 = financial_data.loc['Q1 2022', ('Sales', 'Online')]

In [8]:
online_sales_q1_2022

1400

In [9]:
# b) In-store expenses in Q3 2021
in_store_expenses_Q3_2021 = financial_data.loc['Q3 2021', ('Expenses', 'In-Store')]

In [10]:
in_store_expenses_Q3_2021

450

In [11]:
# c) Total sales for Q4 2021
Total_sales_Q4_2021 = financial_data.loc['Q4 2021', ('Sales', 'Online')] + financial_data.loc['Q4 2021', ('Sales', 'In-Store')]

In [12]:
Total_sales_Q4_2021

1970

In [13]:
# d) Expenses for online channel in 2022
online_expenses_2022 = financial_data.loc[['Q1 2022', 'Q2 2022', 'Q3 2022', 'Q4 2022'], ('Expenses', 'Online')].sum()

In [14]:
online_expenses_2022

2800

In [15]:
# e) Sales data for Q2 2021
Sales_Q2_2021 = financial_data.loc['Q2 2021', 'Sales']

In [16]:
Sales_Q2_2021

Online      1200
In-Store     900
Name: Q2 2021, dtype: int64

In [17]:
# f) Maximum expense recorded in 2022
Max_expense_2022 = financial_data.loc[['Q1 2022', 'Q2 2022', 'Q3 2022', 'Q4 2022'], 'Expenses'].max().max()

In [18]:
Max_expense_2022

750

In [19]:
#Q2
# Sample DataFrame
data = {
    'Store': ['Store 1', 'Store 2', 'Store 3'],
    'Product': ['Product A', 'Product B', 'Product C'],
    'Sales': [300, 230, 450]
}
df = pd.DataFrame(data)

# Stacking the DataFrame
stacked_df = df.set_index(['Store', 'Product']).stack()
print(stacked_df)

Store    Product
Store 1  Product A  Sales    300
Store 2  Product B  Sales    230
Store 3  Product C  Sales    450
dtype: int64

In [20]:
#Q3
# Unstacking the stacked DataFrame
unstacked_df = stacked_df.unstack()
print(unstacked_df)

                   Sales
Store   Product
Store 1 Product A    300
Store 2 Product B    230
Store 3 Product C    450

In [21]:
#Q4
# Creating a sample DataFrame with Multi-Index
index = pd.MultiIndex.from_tuples([
    ('Sales', 'Manager'), 
    ('Sales', 'Executive'), 
    ('HR', 'Manager'), 
    ('HR', 'Executive')
], names=['Department', 'Role'])

df = pd.DataFrame({'Employee': ['Rohan', 'rachel', 'Bob', 'Eve']}, index=index)
print(df)

                     Employee
Department Role
Sales      Manager      Rohan
           Executive   rachel
HR         Manager        Bob
           Executive      Eve

In [22]:
#Q5
# Accessing employees from a specific department (e.g., Sales)
sales_employees = df.xs('Sales')
print(sales_employees)

          Employee
Role
Manager      Rohan
Executive   rachel

In [23]:
#Q6
# Sample DataFrame of student grades
grades_data = {
    'Student': ['Aditi', 'riya', 'sera', 'Daksh'],
    'Subject': ['Math', 'Science', 'Math', 'Science'],
    'Grade': [80, 82, 95, 93]
}
grades_df = pd.DataFrame(grades_data)

# Sorting by Subject and Grade
sorted_grades_df = grades_df.sort_values(by=['Subject', 'Grade'])
print(sorted_grades_df)

  Student  Subject  Grade
0   Aditi     Math     80
2    sera     Math     95
1    riya  Science     82
3   Daksh  Science     93

In [24]:
#Q7
# Resetting the index
reset_grades_df = sorted_grades_df.reset_index(drop=True)
print(reset_grades_df)

  Student  Subject  Grade
0   Aditi     Math     80
1    sera     Math     95
2    riya  Science     82
3   Daksh  Science     93

In [25]:
#Q8
# Sample DataFrame with a Date column
weather_data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'Temperature': [30, 34, 41]
}
weather_df = pd.DataFrame(weather_data)

# Setting the Date column as the index
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df.set_index('Date', inplace=True)
print(weather_df)

            Temperature
Date
2024-01-01           30
2024-01-02           34
2024-01-03           41

In [26]:
#Q9
# Sample Multi-Index DataFrame
multi_index_data = pd.DataFrame(
    {'Sales': [300, 230, 450]},
    index=pd.MultiIndex.from_tuples(
        [('Store 1', 'Product A'), ('Store 1', 'Product B'), ('Store 2', 'Product A')],
        names=['Store', 'Product']
    )
)

# Flattening the multi-index
flattened_df = multi_index_data.reset_index()
print(flattened_df)

     Store    Product  Sales
0  Store 1  Product A    300
1  Store 1  Product B    230
2  Store 2  Product A    450

In [27]:
#Q10
# Sample DataFrame with Category and Product as Multi-Index
category_product_data = pd.DataFrame(
    {'Price': [20, 35, 40, 60]},
    index=pd.MultiIndex.from_tuples(
        [('Electronics', 'Tablet'), ('Electronics', 'Laptop'), ('Clothing', 'Shirt'), ('Clothing', 'Kurtas')],
        names=['Category', 'Product']
    )
)

# Averaging at the Category level
average_by_category = category_product_data.groupby(level='Category').mean()
print(average_by_category)

             Price
Category
Clothing      50.0
Electronics   27.5